.leftSideBar {
  font-family: "Rubik", sans-serif;
  width: 20%;

  border-left: 1px solid #d5e1dc;
  border-bottom: 1px solid #d5e1dc;
  border-right: 1px solid #d5e1dc;
}
.leftSideBar-block {
  height: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.logo-wrapper {
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid #d5e1dc;
}

.logo-block {
  display: flex;
}

.imageLogoLeftSideBar {
  display: flex;

  width: 145px;
  align-content: center;
  justify-content: center;
}
