.avatars-img {
  display: block;
}
.avatar-list-section {
  /* justify-content: stretch; */
  display: flex;
  /* width: 60%; */
}
.avatar-container {
  /* width: 100%; */
  background-color: #f6f6f6;
}
.avatar-header {
  height: 10%;
  background-color: #fff;
  outline: 1px solid #d5e1dc;
  /* margin-bottom: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
}
.avatar-header-title {
  color: #4f4f4f;
}
.avatar-list {
  /* margin: -10px; */
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 22px;
  padding-bottom: 22px; */
}
.avatar-item {
  width: 157px;
  height: 157px;
  margin: 10px;
  border-radius: 50%;
}
.avatar-item:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  outline: none;
}
