.wrapper {
  width: 784px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px;
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  position: relative;
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

.text {
  margin-bottom: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #bdbdbd;
}

/* .form {
} */

.row {
  margin-bottom: 20px;
}

.label {
  width: 200px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}
.row:last-child {
  margin-bottom: 0px;
}

.input {
  padding: 5px 20px 5px 20px;

  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.inputFirst {
  padding: 5px 20px 5px 20px;

  width: 55%;

  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.errorMessage {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.125px;
  color: #fe6083;
  padding: 10px 0;
  margin-left: 200px;
}

.btnDelete {
  display: flex;
  margin: auto;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #bdbdbd;
  border: none;
  outline: none;
  background-color: transparent;
}

.btnDelete,
.btnDelete:active,
.btnDelete:focus {
  outline: none;
}

.btnDeleteIcon {
  display: inline-block;
  width: 14px;
  height: 16px;
  background-image: url(../../../images/customHabitModal/trash.svg);
  background-repeat: no-repeat;
  margin-right: 15px;
}

.actionBtnContainer {
  display: flex;
  justify-content: center;
}
/*
.labelContainer {
  display: flex;
}

.labelList {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
 

  color: #4f4f4f;
}

.label {
  display: block;
  margin-bottom: 20px;
}

.label:last-child {
  margin-bottom: 0px;
}

.input {
  display: block;
  margin-bottom: 20px;
}

.inputList {
    
} */

.btnMain {
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding: 12px 18px;

  color: white;
  border: none;
  outline: none;
  background-color: #43d190;
  border: 2px solid transparent;
  border-radius: 5px;
  height: 44px;
  width: 220px;
}

.btnSecondary {
  margin-right: 20px;
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding: 12px 18px;

  color: #43d190;
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid #43d190;
  border-radius: 5px;
  height: 44px;
  width: 220px;
}

.modalBodyButtonclose {
  background-image: url("../../../images/close/close.svg");
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  position: absolute;
  right: 14px;
  top: 14px;
}
