.ProfileMyCardsPage-mainTitle {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #4f4f4f;
  margin-bottom: 30px;
}
.ProfileMyCardsPage-block {
  margin-bottom: 60px;
}
.ProfileMyCardsPage-cardBlock {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.ProfileMyCardsPage-btn {
  width: 220px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: white;
  border-radius: 5px;
  color: #43d190;
  border: 2px solid#43d190;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  cursor: pointer;
  margin-top: 40px;
}
.ProfileMyCardsPage-btn:hover,
.ProfileMyCardsPage-btn:focus {
  background: rgba(203, 240, 223, 0.651);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
}

.ProfileMyCardsPage-block .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
  position: absolute;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
  position: absolute;
  width: 70px;
  height: 80px;
  left: 25px !important;
  z-index: 100;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__right__1tzAF {
  position: absolute;
  width: 70px;
  height: 80px;
  right: 25px !important;
  z-index: 100;
}

.ProfileMyCardsPage-block .coverflow__figure__3bk_C {
  backface-visibility: visible;
  width: 300px !important;
  height: 195px !important;
  border-radius: 5px !important;
}


.ProfileMyCardsPage-title{
font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 1.19;
  color: red;
  margin-left: 30px;
}