.container {
  height: 100%;
  background: #f6f6f6;
  width: 1035px;
  position: absolute;
}

/* <p className={styles.errorMessageEmail}>{errors.email?.message}</p> */
.errorMessageEmail {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.125px;
  color: #fe6083;
  padding: 7px 0;
  margin-top: -15px;
  margin-right: 145px;
}
/* <p className={styles.errorMessagePass}>{errors.password?.message}</p> */
.errorMessagePass {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.125px;
  color: #fe6083;
  padding: 7px 0;
  margin-top: -30px;
  margin-left: -25px;
}

.logo {
  padding-top: 40px;
  display: flex;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 315px;
}
.form {
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: 70px;
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #4f4f4f;
}
.text {
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #4f4f4f;
}
.formText {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}
.logInButton {
  width: 220px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #43d190;
  align-items: center;
  text-align: center;
  border: 2px solid #43d190;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
}
.registerButton {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 220px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #ffffff;
  color: #43d190;
  border: 2px solid #43d190;
  box-sizing: border-box;
  border-radius: 5px;
}
.logInButton:hover {
  background-color: #ffffff;
  color: #43d190;
}
.registerButton:hover {
  background-color: #43d190;
  color: #ffffff;
}
.buttonGoogle {
  border: none;
  margin-bottom: 15px;
  width: 276px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #ec4541;
  border-radius: 5px;
  border-color: #ec4541;
  color: #ffffff;
}
.buttonFacebook {
  border: none;
  margin-bottom: 40px;
  width: 276px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #305b94;
  border-radius: 5px;
  border-color: #305b94;
  color: #ffffff;
}
.buttonContaineer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
