.basicInput {
  padding: 5px 10px 5px 10px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  height: 44px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.basic-input:hover {
  border: 1px solid #4f4f4f;
}

.label {
  width: 124px;
  text-align: start;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.basicInput:invalid {
  border: 1px solid red;
}
