.profilePage-container {
  width: 60%;
}

.ProfilePage-header {
  border-bottom: 1px solid #d5e1dc;
  background-color: #ffffff;
  height: 10%;
  padding: 20px 62px;
  display: flex;
  align-items: center;
}

.ProfilePage-mainTitle {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  color: #4f4f4f;
}
.ProfilePage-main {
  height: 90%;
  padding: 40px 40px;
  overflow: scroll;
  background-color: #f6f6f6;
}
.ProfilePage-priwetTitle {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #4f4f4f;
  margin-bottom: 30px;
}
.profilePage-formAvatar-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.profilePage-inputs {
  margin-bottom: 20px;
}

/* avatar-block */

.profilePage-AvatarBlock {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: column;
  width: 310px;
  /* height: 236px; */
  /* margin-bottom: 20px; */
}
.profilePage-AvatarLink {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  /* width: 108px;
  height: 108px; */
  margin-bottom: 10px;
}
.profilePage-AvatarLink:hover,
.profilePage-AvatarLink:focus {
  box-shadow: 0px 6px 10px rgba(14, 13, 13, 0.1);
}
.profilePage-Avatar {
  width: 108px;
  height: 108px;
  cursor: pointer;
  margin-bottom: 10px;
}
.profilePage-AvatarTextLink {
  display: block;
  padding: 10px 22px;

  text-decoration: none;
  color: inherit;
}
.profilePage-AvatarTextLink:hover {
  text-decoration: none;
  color: inherit;
}

.profilePage-AvatarText {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

/* profilePage-subscription */

.profilePage-subscriptionArea {
  min-width: 52px;
  height: 20px;
  color: #ffffff;
  border-radius: 5px;
  padding: 1px 8px 3px;
  margin-bottom: 15px;
  background: linear-gradient(222.27deg, #f8c102 3.75%, #fe6083 94.69%);
}
.profilePage-subscriptionText {
  font-size: 14px;
  line-height: 1.42;
}
.profilePage-subscriptionNoob-color {
  background: #43d190;
}
.profilePage-subscriptionBasic-color {
  background: linear-gradient(222.27deg, #2eebda 3.75%, #7cf7a3 94.69%);
}
.profilePage-subscriptionStandart-color {
  background: linear-gradient(222.27deg, #f8c102 3.75%, #fe6083 94.69%);
}
.profilePage-subscriptionPremium-color {
  background: linear-gradient(222.27deg, #fe6083 3.75%, #b469fa 94.69%);
}
.profilePage-subscriptionUltra-color {
  background: linear-gradient(222.27deg, #b469fa 3.75%, #655de6 94.69%);
}

/* btn */

.profilePage-subscription-btn {
  width: 220px;
  height: 44px;
  /* text-align: center; */
  /* line-height: 40px; */
  text-decoration: none;
  background: white;
  border-radius: 5px;
  color: #43d190;
  border: 2px solid#43d190;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  cursor: pointer;
}
.profilePage-subscription-btn:hover,
.profilePage-subscription-btn:focus {
  background: rgba(203, 240, 223, 0.651);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
}
.profilePage-subscription-btn.confirmPasword {
  margin-left: 53%;
}
.profilePage-subscription-btn.confirmPasword.email {
  margin-bottom: 20px;
}

/* Анимация инпута для подтверждения пароля */
.confirm-password-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.confirm-password-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.confirm-password-exit {
  opacity: 1;
  transform: translateX(0);
}

.confirm-password-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.passwordControl {
  position: absolute;
  top: 22px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.passwordControl.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
.profile-user-button {
  margin-bottom: 15px;
  width: 52px;
  height: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  text-align: center;
  background: #ec4541;
  border: none;
  outline: none;
  border-radius: 5px;
  /* transition: all 0.2s linear; */
}
.profile-user-button:hover,
.profile-user-button:focus {
  background: linear-gradient(222.27deg, #cbf7e3 3.75%, #7cf7a3 94.69%);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  color: #a09b9b;
  outline: none;
}
