.main {
  text-align: center;
  margin-top: 10%;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.errorTitle {
  font-size: 80px;
  margin: 0;
}

.errorText {
  font-size: 40px;
  margin: 0;
}
