.title-contacts-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.title-contacts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
}
.title-contacts-exit {
  opacity: 1;
  transform: translateX(0);
}
.title-contacts-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
}
