.leftSideBar-habits-listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.leftSideBar-habits-circle {
  width: 21px;
  height: 19px;
  border-radius: 50%;
  margin-right: 10px;
  /* background-color: #655DE6; */
  box-shadow: inset -3px -5px 5px rgba(0, 0, 0, 0.3),
    inset -2px -1px 40px rgba(0, 0, 0, 0), 0 0 0px #000;
}
.leftSideBar-listItem-habit {
  padding-right: 5px;
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  width: 222px;
  color: #bdbdbd;
}
